# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# Fody
FodyWeavers.xsd

# Reference DLLs (using NuGet instead)
*.dll

# Bỏ qua file thực thi và file nhị phân
*.exe
*.obj
*.pdb
*.lib
*.bat

# NuGet
*.nupkg
packages/

# Windows
Thumbs.db
desktop.ini

# Resharper
_ReSharper.*
*.DotSettings.user

build/